<div class="container">
    <label for="email-input">Your email</label>
    <input class="form-control" type="text" id="email-input" />
    <label for="email-message">Message</label>
    <textarea class="form-control" id="email-message"></textarea>
    <br/>
    <div class="btn btn-primary" id="send-button">Send</div>
</div>