<section class="content-header">
    <h1>Articles</h1>
</section>

<section class="content">
    <div class="btn btn-primary" ui-sref="app.new-article">Create new</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Excerpt</th>
                <th>Date</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="article in list">
                <td>{{article.title}}</td>
                <td>{{article.excerpt}}</td>
                <td>{{article.dateTime | date:'dd/MM/yy hh:mm:ss'}}</td>
                <td>
                    <div class="btn btn-xs btn-primary" ng-click="edit()">Edit</div>
                    <div class="btn btn-xs btn-danger" ng-click="delete(article._id)">Delete</div>
                </td>
            </tr>


        </tbody>
    </table>
</section>
