
<section class="content-header">
    <h1>Projects</h1>
</section>
<section class="content">

    <div class="btn btn-primary" ng-click="createProject()">Create new</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th ng-click="toggleDateOrder()">Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in list | orderBy:options.orderFilter">
                <td>{{project.title}}</td>
                <td>{{project.date | date:'dd/MM/yy hh:mm:ss'}}</td>
                <td>
                    <div class="btn btn-xs btn-danger" ng-click="deleteProject(project._id)">Delete</div>
                    <div class="btn btn-xs btn-primary" ui-sref="app.project({id:project._id})">Edit</div>
                </td>
            </tr>
        </tbody>
    </table>

</section>
