<!DOCTYPE html>
<html>
<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">

        <div class="row">

            <% for(var i=0;i<projects.length;i++){
                var title = projects[i].title;

                if(projects[i].title.length > 18){
                    title = projects[i].title.slice(0, 18)+'...';
                }

            %>
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img src="<%= projects[i].coverImage.thumbPath %>" alt="...">
                    <div class="caption">
                        <h3><%= title %></h3>
                        <p> <a href="/project/<%= projects[i]._id %>" class="btn btn-default" role="button">Read more</a></p>
                    </div>
                </div>
            </div>

            <% } %>

        </div>

    </div>


</body>
<script src="/assets/js/main.js"></script>
</html>


