<section class="content-header">
    <div class="btn btn-md pull-right btn-success" ng-click="save()">Save</div>
    <h1>New article</h1>
</section>

<section class="content">

    <label>Title</label>
    <input type="text" class="form-control" ng-model="model.title">
    <br/>
    <label>Excerpt</label>
    <input type="text" class="form-control" ng-model="model.excerpt">
    <br/>
    <label>Content</label>
    <textarea id="description" ui-tinymce ng-model="model.content" class="form-control"></textarea>
    <br/>
    <label>Select project</label>
    <select ng-model="model.project" class="form-control" ng-options="project.title for project in projects"></select>

</section>

